*{
    margin:0;
    padding:0;
    font-family: 'Sawarabi Gothic', sans-serif;
}
@media screen and (max-width: 480px){
    .yajirushi{
        font-size:30px;
        position:fixed;
        top:8px;
        left:8px;
        z-index:3;
        color:#001f76;
    }

    .topimg{
        width:100%;
        height:260px;
        object-fit:cover;
    }

    .contents{
        position:relative;
        width:100%;
        overflow:hidden;
        margin:0;
    }

    .midashi{
        font-size:24px;
        color:#000;
        text-align:center;
        width:90%;
        margin:0 auto;
        padding:5px 0 10px;
        border-bottom:1px solid #001F76;
    }

    .tags{
        width:100%;
        overflow:hidden;
        margin-top:15px;
        margin-left:20px;
        margin-bottom:10px;
        display:flex;
        justify-content: left;
        align-items:center;
    }

    .tag{
        background:#001f76;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:5px;
        margin-right:5px;
        overflow:hidden;
    }

    .tag .tagmaru{
        background:#fff;
        height:7px;
        width:7px;
        border-radius:50%;
        margin:5px;
    }

    .tag p{
        display:inline-block;
        color:#fff;
        font-size:10px;
        margin-right:5px;
    }

    .kihon_info{
        width:100%;
        overflow:hidden;
        background-color:#EEF0F2;
    }

    .kihon_info p{
        text-align:center;
        font-size:18px;
        margin:30px auto ;
        width:85px;
        background: linear-gradient(transparent 70%, #feff00 30%);
    }

    .contents table{
        display:table;
        width:90%;
        margin:0 auto 50px;
        font-size:14px;
    }

    .contents table tr{
        height:45px;
    }

    .contents table td{
        width:50%;
    }

    .colorcell{
        background-color:#001f76;
        color:#fff;
    }

    .icons{
        overflow:hidden;
        width:70%;
        margin:0 auto;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .icons .icon{
        font-size:50px;
        color:#001f76;
        margin:10px 0;
    }

    #cells{
        display:flex;
        margin:30px 0 40px;
    }

    .cell{
        width:25%;
        display:flex;
        justify-content: center;
        align-items:center;
        text-align:center;
    }

    .cell p{
        color:#000;
        background:linear-gradient(transparent 60%,#eef0f2 40%);
        font-size:18px;
    }

    .cell1 p{
        width:50px;
        background:linear-gradient(transparent 60%,#feff00 40%);
    }

    .cell2 p{
        width:65px;
    }

    .cell3 p{
        width:75px;
    }

    .cell4 p{
        width:50px;
    }

    .article{
        display:none;
        width:100%;
        overflow:hidden;
    }

    .article1{
        display:block;
    }

    .article table{
        font-size:10px;
        width:90%;
        margin:0 auto 40px;
    }

    .article table tr{
        text-align: center;
        height:35px;
    }

    .article1 table .colorcell_2{
        background:#eef0f2;
    }

    .article2{
        text-align:center;
        position:relative;
        overflow:hidden;
    }

    .article2 #gray{
        position:absolute;
        background-color:#808080;
        width:100%;
        opacity:0.47;
        top:0;
        left:0;
        height:100%;
        z-index:2;
    }

    .article2 .nomi{
        background:url(/assets/images/nomi.jpg);
        background-repeat:none;
        background-size:cover;
        height:290px;
    }

    .article2 .couple{
        background:url(/assets/images/couple.jpg);
        background-repeat:none;
        background-size:cover;
        height:290px;
    }

    .article2 .study{
        background:url(/assets/images/study-2.jpg);
        background-repeat:none;
        background-size:cover;
        height:410px;
    }

    .article2 .syusyoku{
        background:url(/assets/images/syukatu.jpg);
        background-repeat:none;
        background-size:cover;
        overflow:hidden;
    }

    .article2 .sugoi{
        background:url(/assets/images/sugoi.jpg);
        background-repeat:none;
        background-size:cover;
        min-height:270px;
        overflow:hidden;
    }

    .article2 .koumoku{
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .article2 p{
        color:#fff;
        font-size:18px;
        padding:20px;
        position:relative;
        z-index:3;
    }

    .article2 .maru{
        height:35px;
        width:35px;
        border-radius:50%;
        color:#001f76;
        background:#fff;
        display:flex;
        justify-content: center;
        align-items:center;
        font-size:18px;
        margin:5px 5px;
        opacity:0.8;
        position:relative;
        z-index:3;
    }

    .article2 .big{
        height:50px;
        width:50px;
        font-size:24px;
        opacity:1;
    }

    .article2 .sub{
        width:90%;
        margin:0 auto;
        padding-bottom:45px;
        font-size:12px;
    }

    .article3 ul{
        width:100%;
        overflow:hidden;
        display: flex;
        flex-direction: column;
        align-items:center;
        list-style-type: none;
    }

    .article3 li{
        width:95%;
    }

    .article3 img{
        width:100%;
        object-fit: cover;
        margin-bottom:5px;
    }

    .article3 video{
        width:100%;
        object-fit: cover;
        margin-bottom:5px;
    }

    .article4 table{
        border-spacing:0 10px;
    }

    .article4 th{
        background-color:#001f76;
        color:#fff;
        width:35%;
    }

    .article4 td{
        background-color:#eef0f2;
    }
}

@media screen and (min-width: 480px){
    .yajirushi{
        font-size:30px;
        position:fixed;
        top:8px;
        left:8px;
        z-index:3;
        color:#001f76;
    }

    #topimg{
        width:100%;
        overflow:hidden;
        display:flex;
        justify-content: center;
        background-color:#eef0f2;
    }

    .topimg{
        width:80%;
        height:460px;
        object-fit:cover;
    }

    .contents{
        position:relative;
        width:100%;
        overflow:hidden;
        margin:0;
    }

    .midashi{
        font-size:24px;
        color:#000;
        text-align:center;
        width:90%;
        margin:0 auto;
        padding:15px 0 20px;
        border-bottom:1px solid #001F76;
    }

    .tags{
        width:100%;
        overflow:hidden;
        margin-top:25px;
        margin-left:30px;
        margin-bottom:20px;
        display:flex;
        justify-content: left;
        align-items:center;
    }

    .tag{
        background:#001f76;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:5px;
        margin-right:5px;
        overflow:hidden;
    }

    .tag .tagmaru{
        background:#fff;
        height:7px;
        width:7px;
        border-radius:50%;
        margin:5px;
    }

    .tag p{
        display:inline-block;
        color:#fff;
        font-size:10px;
        margin-right:5px;
    }

    .kihon_info{
        width:100%;
        overflow:hidden;
        background-color:#EEF0F2;
    }

    .kihon_info p{
        text-align:center;
        font-size:18px;
        margin:40px auto ;
        width:85px;
        background: linear-gradient(transparent 70%, #feff00 30%);
    }

    .contents table{
        display:table;
        width:65%;
        margin:0 auto 65px;
        font-size:14px;
    }

    .contents table tr{
        height:45px;
    }

    .contents table td{
        width:50%;
    }

    .colorcell{
        background-color:#001f76;
        color:#fff;
    }

    .icons{
        overflow:hidden;
        width:70%;
        margin:0 auto;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .icons .icon{
        font-size:50px;
        color:#001f76;
        margin:10px 0;
    }

    #cells{
        display:flex;
        margin:40px 0 50px;
    }

    .cell{
        width:25%;
        display:flex;
        justify-content: center;
        align-items:center;
        text-align:center;
    }

    .cell p{
        color:#000;
        background:linear-gradient(transparent 60%,#eef0f2 40%);
        font-size:18px;
    }

    .cell1 p{
        width:50px;
        background:linear-gradient(transparent 60%,#feff00 40%);
    }

    .cell2 p{
        width:65px;
    }

    .cell3 p{
        width:75px;
    }

    .cell4 p{
        width:50px;
    }

    .article{
        display:none;
        width:100%;
        overflow:hidden;
    }

    .article1{
        display:block;
    }

    .article table{
        font-size:10px;
        width:80%;
        margin:0 auto 40px;
    }

    .article table tr{
        text-align: center;
        height:35px;
    }

    .article1 table .colorcell_2{
        background:#eef0f2;
    }

    .article2{
        text-align:center;
        position:relative;
        overflow:hidden;
    }

    .article2 .funiki{
        display:flex;
        flex-wrap:wrap;
    }

    .article2 #gray{
        position:absolute;
        background-color:#808080;
        width:100%;
        opacity:0.47;
        top:0;
        left:0;
        height:100%;
        z-index:2;
    }

    .article2 .nomi{
        background:url(/assets/images/nomi.jpg);
        background-repeat:none;
        background-size:cover;
        height:290px;
        width:50%;
    }

    .article2 .couple{
        background:url(/assets/images/couple.jpg);
        background-repeat:none;
        background-size:cover;
        height:290px;
        width:50%;
    }

    .article2 .study{
        background:url(/assets/images/study-2.jpg);
        background-repeat:none;
        background-size:cover;
        height:410px;
        width:50%;
    }

    .article2 .syusyoku{
        background:url(/assets/images/syukatu.jpg);
        background-repeat:none;
        background-size:cover;
        overflow:hidden;
        width:50%;
    }

    .article2 .sugoi{
        background:url(/assets/images/sugoi.jpg);
        background-repeat:none;
        background-size:cover;
        min-height:270px;
        overflow:hidden;
        width:100%;
    }

    .article2 .koumoku{
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .article2 p{
        color:#fff;
        font-size:18px;
        padding:20px;
        position:relative;
        z-index:3;
    }

    .article2 .maru{
        height:35px;
        width:35px;
        border-radius:50%;
        color:#001f76;
        background:#fff;
        display:flex;
        justify-content: center;
        align-items:center;
        font-size:18px;
        margin:5px 5px;
        opacity:0.8;
        position:relative;
        z-index:3;
    }

    .article2 .big{
        height:50px;
        width:50px;
        font-size:24px;
        opacity:1;
    }

    .article2 .sub{
        width:90%;
        margin:0 auto;
        padding-bottom:45px;
        font-size:12px;
    }

    .article3 .uls{
        width:98%;
        display:table;
        margin:0 auto;
    }

    .article3 ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }

    .article3 li{
        position: relative;
        width: calc(98.2% / 3);
        margin:0.3%;
    }

    .article3 li:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .article3 img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
    }

    .article3 video{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
    }

    .article4 table{
        border-spacing:0 10px;
    }

    .article4 th{
        background-color:#001f76;
        color:#fff;
        width:35%;
    }

    .article4 td{
        background-color:#eef0f2;
    }
}

@media screen and (min-width: 897px){
    .yajirushi{
        font-size:30px;
        position:fixed;
        top:8px;
        left:8px;
        z-index:3;
        color:#001f76;
    }

    #topimg{
        width:100%;
        overflow:hidden;
        display:flex;
        justify-content: center;
        background-color:#eef0f2;
    }

    .topimg{
        width:70%;
        height:560px;
        object-fit:cover;
    }

    .contents{
        position:relative;
        width:100%;
        overflow:hidden;
        margin:0;
    }

    .midashi{
        font-size:24px;
        color:#000;
        text-align:center;
        width:90%;
        margin:0 auto;
        padding:25px 0 30px;
        border-bottom:1px solid #001F76;
    }

    .tags{
        width:100%;
        overflow:hidden;
        margin-top:35px;
        margin-left:50px;
        margin-bottom:30px;
        display:flex;
        justify-content: left;
        align-items:center;
    }

    .tag{
        background:#001f76;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:5px;
        overflow:hidden;
    }

    .tag .tagmaru{
        background:#fff;
        height:7px;
        width:7px;
        border-radius:50%;
        margin:5px;
    }

    .tag p{
        display:inline-block;
        color:#fff;
        font-size:10px;
        margin-right:5px;
    }

    .kihon_info{
        width:100%;
        overflow:hidden;
        background-color:#EEF0F2;
    }

    .kihon_info p{
        text-align:center;
        font-size:18px;
        margin:50px auto ;
        width:85px;
        background: linear-gradient(transparent 70%, #feff00 30%);
    }

    .contents table{
        display:table;
        width:45%;
        margin:0 auto 80px;
        font-size:14px;
    }

    .contents table tr{
        height:45px;
    }

    .contents table td{
        width:50%;
    }

    .colorcell{
        background-color:#001f76;
        color:#fff;
    }

    .icons{
        overflow:hidden;
        width:70%;
        margin:0 auto;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .icons .icon{
        font-size:50px;
        color:#001f76;
        margin:10px 0;
    }

    #cells{
        display:flex;
        margin:50px 0 60px;
    }

    .cell{
        width:25%;
        display:flex;
        justify-content: center;
        align-items:center;
        text-align:center;
    }

    .cell p{
        color:#000;
        background:linear-gradient(transparent 60%,#eef0f2 40%);
        font-size:18px;
    }

    .cell1 p{
        width:50px;
        background:linear-gradient(transparent 60%,#feff00 40%);
    }

    .cell2 p{
        width:65px;
    }

    .cell3 p{
        width:75px;
    }

    .cell4 p{
        width:50px;
    }

    .article{
        display:none;
        width:100%;
        overflow:hidden;
    }

    .article1{
        display:block;
    }

    .article table{
        font-size:10px;
        width:65%;
        margin:0 auto 40px;
    }

    .article table tr{
        text-align: center;
        height:35px;
    }

    .article1 table .colorcell_2{
        background:#eef0f2;
    }

    .article2{
        text-align:center;
        position:relative;
        overflow:hidden;
    }

    .article2 .funiki{
        display:flex;
        flex-wrap:wrap;
    }

    .article2 #gray{
        position:absolute;
        background-color:#808080;
        width:100%;
        opacity:0.47;
        top:0;
        left:0;
        height:100%;
        z-index:2;
    }

    .article2 .nomi{
        background:url(/assets/images/nomi.jpg);
        background-repeat:none;
        background-size:cover;
        height:290px;
        width:50%;
    }

    .article2 .couple{
        background:url(/assets/images/couple.jpg);
        background-repeat:none;
        background-size:cover;
        height:290px;
        width:50%;
    }

    .article2 .study{
        background:url(/assets/images/study-2.jpg);
        background-repeat:none;
        background-size:cover;
        height:410px;
        width:50%;
    }

    .article2 .syusyoku{
        background:url(/assets/images/syukatu.jpg);
        background-repeat:none;
        background-size:cover;
        overflow:hidden;
        width:50%;
    }

    .article2 .sugoi{
        background:url(/assets/images/sugoi.jpg);
        background-repeat:none;
        background-size:cover;
        min-height:270px;
        overflow:hidden;
        width:100%;
    }

    .article2 .koumoku{
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .article2 p{
        color:#fff;
        font-size:18px;
        padding:20px;
        position:relative;
        z-index:3;
    }

    .article2 .maru{
        height:35px;
        width:35px;
        border-radius:50%;
        color:#001f76;
        background:#fff;
        display:flex;
        justify-content: center;
        align-items:center;
        font-size:18px;
        margin:5px 5px;
        opacity:0.8;
        position:relative;
        z-index:3;
    }

    .article2 .big{
        height:50px;
        width:50px;
        font-size:24px;
        opacity:1;
    }

    .article2 .sub{
        width:90%;
        margin:0 auto;
        padding-bottom:45px;
        font-size:12px;
    }

    .article3 .uls{
        width:98%;
        display:table;
        margin:0 auto;
    }

    .article3 ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }

    .article3 li{
        position: relative;
        width: calc(98.2% / 3);
        margin:0.3%;
    }

    .article3 li:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .article3 img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
    }

    .article3 video{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
    }

    .article4 table{
        border-spacing:0 10px;
    }

    .article4 th{
        background-color:#001f76;
        color:#fff;
        width:35%;
    }

    .article4 td{
        background-color:#eef0f2;
    }
}
